

p.reference {
    padding-left: 2rem;
    text-indent: -2rem;
    margin: 0.125rem !important;
}

.ipa {
    font-family: 'Times New Roman', 'Georgia', serif;
}

.console {
    background-color: #eee;
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    line-height: 1.3;
}

div.console .highlight pre {
    padding: 0 1em;
    margin: 0;
}

div.console .console-subblock:first-of-type pre {
    padding-top: 0.5rem;
}

div.console .console-subblock:last-of-type pre {
    padding-bottom: 0.625rem;
}

.highlight-pandas {
    padding-top: 0.5em;
}

.highlight-pandas * {
    font-style: italic !important;
}

div.highlight-pandas + div.highlight-python {
    padding-top: 0.5em;
}

.small-caps {
    text-transform: uppercase;
    font-size: 0.8em;
}
