@import "colors";

$vlnm-code: $md-grey-100;
$natbib: $md-light-blue-900;

$breakpoints: (
  phone: 320px,
  tablet: 875px,
  desktop: 1024px
);

@mixin media($point) {
  @if $point == phone {
    @media screen and (max-width: map-get($breakpoints, "phone")) {
      @content;
    }
  }
  @if $point == '<=tablet' {
    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      @content;
    }
  }
  @if $point == tablet {
    @media screen and (min-width: map-get($breakpoints, "tablet")) {
      @content;
    }
  }
  @if $point == desktop {
    @media screen and (min-width: map-get($breakpoints, "desktop")) {
      @content;
    }
  }
}
