$font-dir: "." !default;
$color-string: #000000 !default;

@mixin serif-font() {
  font-family: "Merriweather", "Georgia", "Libre Baskerville", "Times New Roman",
    "Times", serif !important;
}

@mixin sans-font() {
  font-family: "Merriweather Sans", "DejaVu Sans", "Helvetica", serif !important;
}

@mixin mono-font() {
  font-family: "DejaVu Sans Mono", "Monaco", "Courier New", monospace !important;
}

@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,700|Merriweather:300,700|Inconsolata|Source+Code+Pro|Source+Serif+Pro");

body,
.body {
  @include serif-font();
  p {
    line-height: 1.5 !important;
    hyphens: none !important;
  }
}
.section {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include serif-font();
    font-weight: bold !important;
  }
}

.vlnm-col {
  font-weight: 600;
  @include sans-font();
}

.vlnm-tt {
  font-family: monospace;
}

.vlnm-arg {
  @include mono-font();
  font-size: 100%;
  background-color: #f7f7f7;
  padding: 0.125rem 0.25rem 0.25rem;
  border-radius: 1px;
  color: #37474f;
}

.vlnm-csv {
  @include mono-font();
  font-size: 90%;
  color: $color-string;
  &::before {
    content: "'";
  }
  &::after {
    content: "'";
  }
}
